{% extends "base.html" %}
{% block action_url %}
        <a href="{% url "people:url_form" %}" class="collapse-item">Media Type Check</a>
{% endblock %}
{% block content %}

<!-- Outer Row -->
<div class="row justify-content-center">
    <div class="col-xl-4 col-lg-6 col-md-10">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">Şifre Sıfırlama</h1>
                                <p class="mb-4">E-Mail adresinize gelen sıfırlama linki ile yeni şifre oluşturarak giriş yapabilirsiniz.</p>
                            </div>
                            <form class="user" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password" class="form-control form-control-user" placeholder="Eski Şifre">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="new_password1" autocomplete="new-password" autofocus required id="id_new_password1" class="form-control form-control-user" placeholder="Yeni Şifre">
                                    <div class="help">
                                        <ul>
                                            <li>Your password can’t be too similar to your other personal information.</li>
                                            <li>Your password must contain at least 8 characters.</li>
                                            <li>Your password can’t be a commonly used password.</li>
                                            <li>Your password can’t be entirely numeric.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="new_password2" autocomplete="new-password" autofocus required id="id_new_password2" class="form-control form-control-user" placeholder="Yeni Şifre Tekrarla">
                                </div>
                                <div class="submit-row">
                                    <input type="submit" value="Change my password" class="btn btn-primary btn-user btn-block">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}