{% load template_funcs %}
{% if ability == "List" %}
    <ul class="pagination pagination-sm m-0 float-right">
        {% for item in page_info %}
            <li class="page-item"><a class="page-link" href="{{ item.0 }}" id="page_{{ item.1 }}">{{ item.2 }}</a></li>
        {% endfor %}
    </ul>
{% elif ability == "Detail" %}
    <ul class="nav nav-pills ml-auto p-2">
        <li class="nav-item">
            <div class="btn-group">
                <a href="{{ page_info.0 }}" id="first_page"  class="btn btn-default"><i class="fas fa-arrow-alt-circle-left" style="color: #6c757d;"></i></a>
                <a href="{{ page_info.1 }}" id="previous_page"  class="btn btn-default"><i class="fas fa-arrow-left" style="color: #6c757d;"></i></a>
                <a href="#" id="cur_page"  class="btn btn-block font-weight-bold">{{ page_info.2 }}</a>
                <a href="{{ page_info.3 }}" id="next_page" class="btn btn-default"><i class="fas fa-arrow-right" style="color: #6c757d;"></i></a>
                <a href="{{ page_info.4 }}" id=last_page" class="btn btn-default"><i class="fas fa-arrow-alt-circle-right" style="color: #6c757d;"></i></a>
            </div>
        </li>
    </ul>
{% endif %}